@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}
#skill {
    background-color: #e2edff;
}
.card img {
    height: 250px;
}
section {
    padding-top: 5rem;
}